.section {
	// padding-top: $Lead;
	padding-bottom: $Lead;

	@include respond-to(520px) {
		// padding-top: $Lead * 1.5;
		padding-bottom: $Lead * 1.5;
	}

	+ .section {
		margin-top: $Lead * 2;

		@include respond-to(520px) {
			margin-top: $Lead;
		}
	}
}

.Page {
	min-height: 100vh;
}
