<!--(bake includes/header.html)-->

<header>
	<div class="row">
		<div class="column">
			<h1 class="logo">UBQ</h1>
		</div>
	</div>
</header>

<section>
	<div class="row">
		<div class="column">
			<p>UBQ craft interactive products which delight the user whilst also focusing on business goals and conversion.</p>

			<ul class="listSocial">
				<li><a href="https://twitter.com/ubqstudio" class="link">Twitter</a></li>
				<li><a href="mailto:hello@ubq.is" class="link">Email</a></li>
			</ul>
		</div>
	</div>
</section>

<!--(bake includes/footer.html)-->