<!--(bake includes/header.html)-->

<div class="Page">
	<!-- <header>
		<div class="row">
			<div class="column">
				<h1 class="logo">UBQ</h1>
			</div>
		</div>
	</header> -->

	<section>
		<div class="row">
			<div class="column">
				<h1 class="logo">UBQ</h1>

				<div class="centerP">
					<p class="typeLede">Our mission is to create products which aid, empower and improve life.</p>
				</div>

				<ul class="listSocial">
					<li><a href="mailto:hello@ubq.is" class="link">hello@ubq.is</a></li>
				</ul>
			</div>
		</div>
	</section>
</div>

<!--(bake includes/footer.html)-->
