@if $use-element-container == true {

	// --------------------------------------------------------------------------
	// Article 
	// --------------------------------------------------------------------------
	
	//
	// Article block
	// Correct `block` display not defined in IE 8/9.
	//

	article {
		@extend %displayBlock;
	}



	// --------------------------------------------------------------------------
	// Aside 
	// --------------------------------------------------------------------------
	
	//
	// Aside block
	// Correct `block` display not defined in IE 8/9.
	//

	aside {
		@extend %displayBlock;
	}



	// --------------------------------------------------------------------------
	// Details 
	// --------------------------------------------------------------------------
	
	//
	// Details block
	// Correct `block` display not defined in IE 8/9.
	//

	details {
		@extend %displayBlock;
	}



	// --------------------------------------------------------------------------
	// Figcaption 
	// --------------------------------------------------------------------------
	
	//
	// Figcaption block
	// Correct `block` display not defined in IE 8/9.
	//

	figcaption {
		@extend %displayBlock;
	}



	// --------------------------------------------------------------------------
	// Figure 
	// --------------------------------------------------------------------------
	
	//
	// Figure block
	// Correct `block` display not defined in IE 8/9.
	//

	figure {
		@extend %displayBlock;
	}



	// --------------------------------------------------------------------------
	// Footer 
	// --------------------------------------------------------------------------
	
	//
	// Footer block
	// Correct `block` display not defined in IE 8/9.
	//

	footer {
		@extend %displayBlock;
	}



	// --------------------------------------------------------------------------
	// Header 
	// --------------------------------------------------------------------------
	
	//
	// Header block
	// Correct `block` display not defined in IE 8/9.
	//

	header {
		@extend %displayBlock;
	}



	// --------------------------------------------------------------------------
	// Hgroup 
	// --------------------------------------------------------------------------
	
	//
	// Hgroup block
	// Correct `block` display not defined in IE 8/9.
	//

	hgroup {
		@extend %displayBlock;
	}



	// --------------------------------------------------------------------------
	// Hidden 
	// --------------------------------------------------------------------------
	
	//
	// Hidden element
	// Address `[hidden]` styling not present in IE 8/9.
	// Hide the `template` element in IE, Safari, and Firefox < 22.
	//

	[hidden],
	template {
	    display: none;
	}



	// --------------------------------------------------------------------------
	// Mark 
	// --------------------------------------------------------------------------
	
	//
	// Mark block
	// Address styling not present in IE 8/9.
	//

	mark {
		background: $Colour-white;
		color: $Colour-black;
	}



	// --------------------------------------------------------------------------
	// Main 
	// --------------------------------------------------------------------------
	
	//
	// Main block
	// Correct `block` display not defined in IE 8/9.
	//

	main {
		@extend %displayBlock;
	}



	// --------------------------------------------------------------------------
	// Nav 
	// --------------------------------------------------------------------------
	
	//
	// Nav block
	// Correct `block` display not defined in IE 8/9.
	//

	nav {
		@extend %displayBlock;
	}



	// --------------------------------------------------------------------------
	// Section 
	// --------------------------------------------------------------------------
	
	//
	// Section block
	// Correct `block` display not defined in IE 8/9.
	//

	section {
		@extend %displayBlock;
	}



	// --------------------------------------------------------------------------
	// Summary 
	// --------------------------------------------------------------------------
	
	//
	// Summary block
	// Correct `block` display not defined in IE 8/9.
	//

	summary {
		@extend %displayBlock;
	}



	// --------------------------------------------------------------------------
	// Table 
	// --------------------------------------------------------------------------
	
	//
	// Remove most spacing between table cells.
	//

	table {
		border-collapse: collapse;
	}

}