@if $use-element-type == true {

	// --------------------------------------------------------------------------
	// Type 
	// --------------------------------------------------------------------------
	
	//
	// Link element
	// Remove the gray background color from active links in IE 10.
	//

	a {
		background: transparent;
		
		
		// Address `outline` inconsistency between Chrome and other browsers.

		&:focus {
		    outline: thin dotted;
		}


		// Improve readability when focused and also mouse hovered in all browsers.

		&:active,
		&:hover {
		    outline: 0;
		}
	}



	//
	// Abbr element
	// Address styling not present in IE 8/9, Safari 5, and Chrome.
	//

	abbr[title] {
		border-bottom: 1px dotted;
	}



	// --------------------------------------------------------------------------
	// Bold 
	// --------------------------------------------------------------------------
	
	//
	// Bold block
	// Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
	//

	b {
		@extend %typeBold;
	}



	// --------------------------------------------------------------------------
	// Dfn 
	// --------------------------------------------------------------------------
	
	//
	// Dfn block
	// Address styling not present in Safari 5 and Chrome.
	//

	dfn {
		@extend %typeItalic;
	}



	// --------------------------------------------------------------------------
	// Monospace Shared block
	// --------------------------------------------------------------------------
	
	//
	// Monospace block
	// Correct font family set oddly in Safari 5 and Chrome.
	//

	code,
	kbd,
	pre,
	samp {
		font-family: $FontFamily-mono;
		@include font-size($FontSize-b);
	}



	// --------------------------------------------------------------------------
	// Pre 
	// --------------------------------------------------------------------------
	
	//
	// Pre block
	// Improve readability of pre-formatted text in all browsers.
	//

	pre {
		white-space: pre-wrap;
	}



	// --------------------------------------------------------------------------
	// Quote 
	// --------------------------------------------------------------------------
	
	//
	// Quote block
	// Set consistent quote types.
	//

	q {
		quotes: "\201C" "\201D" "\2018" "\2019";
	}




	// --------------------------------------------------------------------------
	// Small 
	// --------------------------------------------------------------------------
	
	//
	// Small text
	// Address inconsistent and variable font size in all browsers.
	//

	small {
		@include font-size($FontSize-b);
	}




	// --------------------------------------------------------------------------
	// Sub and Sup 
	// --------------------------------------------------------------------------
	
	//
	// Sub and Sup text
	// Prevent `sub` and `sup` affecting `line-height` in all browsers.
	//

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}


	sup {
		top: -0.5em;
	}


	sub {
		bottom: -0.25em;
	}



	// --------------------------------------------------------------------------
	// Strong 
	// --------------------------------------------------------------------------
	
	//
	// Strong block
	// Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
	//

	strong {
		@extend %typeBold;
	}

}